/* computation analysis */

button {
    position: absolute;
    right: 10px;
    top: 10px;
}
.xText{
    fill: red;
}
.yText{
    fill: green;
}
.zText{
    fill: blue;
}
div.tooltip {
     position: absolute;
     text-align: center;
     padding: .2rem;
     background: #313639;
     color: #f9f9f9;
     border: 0px;
     border-radius: 8px;
     pointer-events: none;
     font-size: 18px;
}
